#pic-search {
  padding: 0.5em;
  border-radius: 5px;
  margin-top: 1.5em;
  width: 50%;
  font-size: 1.2em;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.lb-data .lb-details {
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.lb-data .lb-caption {
  font-size: 1.05em;
}

.lb-data .lb-number {
  margin-top: 1em;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .lb-data .lb-caption {
    font-size: 1.25em;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 999px;
  }
  .lb-data .lb-caption {
    font-size: 1.5em;
  }
}

@media (min-width: 1200px) {
}
